# inside venv, upgrade packages:
pip install --upgrade Flask requests

# update requirements file with only relevant packages and versions
pip freeze | grep -E 'Flask|requests' > app/requirements.txt

